span.decor-element {
	display: block;
	width: 200px;
	height: 2px;
	background-color: #ed145b;
}

.btn {
	font-family: Lato;
	font-size: 15px;
	line-height: 18px;
	padding: 18px 50px;
	background: #ed145b;
	border-radius: 30px;
	display: inline-block;
}